section{
    padding: 100px;
    padding-bottom: 100px;
}
.carousel-control-prev-icon {
    background-image: url(../img/1.png);
}
.carousel-control-next-icon {
    background-image: url(../img/2.png);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 20px;
}
.carousel-control-prev {
    left: -110px;
}
.carousel-control-next {
    right: -110px;
}
h1{ 
    font-size: 30px;
    font-weight: 700;
}
h2{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}
.social-buttons {  
    margin-right: 40px;  
  margin: 9px 0px;  
  }  
  
  .social-buttons li {  
    display: inline-block;  
    margin-right: 5px;  
  }  
  
  .social-buttons li:last-child {  
    margin: 0;  
  }  
  
  .social-buttons a {  
    border-radius: 50%;  
    color: #fff;  
    display: inline-block;  
    height: 29px;  
    line-height: 29px;  
    text-align: center;  
    width: 29px;  
  }  
  
  .social-buttons a:hover {  
    background-color: #fff;  
  }  
  
  .social-buttons__vk {  
    background-color: #45688e;  
  }  
  
  .social-buttons__vk:hover {  
    color: #45688e !important;  
  }  
  
  .social-buttons__ok {  
    background-color: #f2720c;  
  }  
  
  .social-buttons__ok:hover {  
    color: #f2720c !important;  
  }  
  
  .social-buttons__fb {  
    background-color: #3a5795;  
  }  
  
  .social-buttons__fb:hover {  
    color: #3a5795 !important;  
  }  
  
  .social-buttons__twitter {  
    background-color: #55acee;  
  }  
  
  .social-buttons__twitter:hover {  
    color: #55acee !important;  
  }  
  
  .social-buttons__google {  
    background-color: #d73d32;  
  }  
  
  .social-buttons__google:hover {  
    color: #d73d32 !important;  
  }  
     
  .h-container {width:1150px;margin:0px auto;}  
  footer {background: url(http://zornet.ru/Aben/ABGEA/Rin/retunga/1.jpg) repeat fixed center center / cover;color:#fff}  
  footer a {color:rgba(255,255,255,0.6);text-decoration:none}  
  footer a:hover {color:rgba(255,255,255,0.8)}  
  .h-footer-tab {display:table;width:100%;padding:45px 0px}  
  .h-footer-1, .h-footer-2 {display:table-cell;vertical-align:top;padding-right:30px}  
  .h-footer-2 {width:20%;}  
  .h-footer-2:hover .hf-title {border-color:#ff9985}  
  .hf-title {padding:14px 0px;padding-bottom:20px;border-top:2px solid rgb(95,100,113);font-size:18px}  
  .hf-content ul, .hf-content li {padding:0px;margin:0px}  
  .hf-content li {list-style-type:none;margin-bottom:10px}  
  .hf-logo {text-shadow: 2px 4px 3px rgba(0,0,0,0.3);font-size:18px;color:rgb(207, 217, 255);font-weight:bold;cursor:default}  
  .hf-desc {font-size:13px;color:rgb(178,180,180);padding:15px 0px}  
  .hf-bottom {opacity: 0.6;background:#03090c;padding:20px 0px}  
  @media only screen and (max-width: 1180px) {  
  .h-container {width:auto;padding:0px 20px;}  
  }  
  @media only screen and (max-width: 960px) {  
  .h-footer-tab, .h-footer-1, .h-footer-2 {display:block;width:auto}  
  .h-footer-2 {margin-top:30px}  
  }